body {
	background-color: #262626;
	color: aliceblue;
	font-size: 1rem;
}

a {
	color: #90ff3c;
}

hr {
	margin: 2rem 1rem;
}

.form {
	margin-top: 1rem;
}

.btn {
	margin-top: 1rem;
	background-color: #90ff3c;
	color: #262626;
	border: none;
}

.btn:hover {
	background-color: #6aba2d;
	color: #080808;
}

#join-form {
	margin-top: 15rem;
}

.tips {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: darkgray;
}

.join-info-text {
	margin-bottom: 2px;
}

input {
	width: 100%;
	margin-bottom: 2px;
}

.player {
	width: 480px;
	height: 320px;
}

.player-name {
	margin: 8px 0;
}

#success-alert,
#success-alert-with-token {
	display: none;
}

@media (max-width: 640px) {
	.player {
		width: 320px;
		height: 240px;
	}
}
