body {
	background-color: #0D0D0D;
	text-align: center;
	color: aliceblue;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	padding-bottom: 3rem;
}

.logo {
	height: 15vh;
	margin-top: 5rem;
}

#feedback-icon {
	position: fixed;
	bottom: 2rem;
	right: 6rem;
}

#github-icon {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	margin: 1rem;
}

h2 {
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.3rem;
	margin: 40px 0px 20px;
}

a {
	color: #8F35FF;
}

hr {
	margin: 2rem 1rem;
}

.horizontal-line {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid aliceblue;
	line-height: 0.1rem;
	margin: 50px 0;
}

.text-on-line {
	background: #0d0d0d;
	padding: 0 10px;
}

.form {
	margin-top: 1rem;
}

input[type=range] {
	height: 22px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #F0F8FF;
	border-radius: 5px;
	border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #F0F8FF;
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #F0F8FF;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #F0F8FF;
	border-radius: 5px;
	border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #F0F8FF;
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background: #FFFFFF;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #F0F8FF;
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #F0F8FF;
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #F0F8FF;
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background: #FFFFFF;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #F0F8FF;
}

input[type=range]:focus::-ms-fill-upper {
	background: #F0F8FF;
}

.meeting-info-group {
	color: #0D0D0D;
}

.btn {
	margin-top: 1rem;
	background-color: #8F35FF;
	color: aliceblue;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:disabled {
	background-color: #572099;
	color: #080808;
}

.control-button-group {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	bottom: 2rem;
}

#unpublish {
	z-index: 1;
	color: aliceblue;
}

#leave {
	z-index: 1;
	background-color: #BF1F5A;
	color: aliceblue;
}

.material-icons {
	fill: aliceblue;
}

.tips {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: darkgray;
	text-align: start;
}

input {
	width: 100%;
	margin-bottom: 2px;
}

.video-wrapper {
	width: 168px;
	height: 160px;
	background-color: #0D0D0D;
	clip-path: circle(50%);
}

.player {
	width: 160px;
	height: 160px;
	clip-path: circle(50%);
}

.player-name {
	text-align: center;
	margin: 8px 0;
}

@media (max-width: 640px) {
	.player {
		width: 240px;
		height: 240px;
		clip-path: circle(50%);
	}
}

#local-player-name {
	cursor: pointer;
}

p.reaction-text{
	margin: 0px;
	font-size: 1.5rem;
}
/* integrated from styles-timer.css */
#clockdiv {
	color: aliceblue;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: #8F35FF;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: #572099;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
	color: #262626;
}

#stop-timer {
	background-color: #BF1F5A;
}

#timer-duration {
	margin-top: 2rem;
}

/* Meeting Area */
.main-view {
	min-height: 20rem;
}

.main-controller {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.meeting-area > hr {
	margin: 3rem 10rem 1rem 10rem;
}

/* Agenda */
#agenda-group {
	position: relative;
}

/* Timer */
#timer-group {
	position: relative;
}

/* BGM */
#bgm-group {
	position: relative;
}

/* Copy text to clipboard */
.meeting-info-group {
	position: fixed;
	left: 10%;
	bottom: 2rem;
}

.btn-with-tooltip {
	position: relative;
	display: inline-block;
}

.btn-with-tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.btn-with-tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.btn-with-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
