body {
    text-align: center;
    /* background: #00ECB9; */
    font-family: sans-serif;
    font-weight: 100;
}


/* animation css */

.flashTimer {
    animation: flash 1s linear infinite;
    color: red !important;
}

@keyframes flash {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

h1 {
    color: aliceblue;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: aliceblue;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #90ff3c;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #4b8320;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
    color: #262626;
}

#stop-timer {
    background-color: red;
}


/* Slider styles */

#timer-slider {
    padding-top: 15px;
    padding-bottom: 15px;
}

#timer-slider input {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 14px;
    width: 100%;
    background: #8acdff;
    border-radius: 10px;
    border: solid 3px aliceblue;
}


/* WebKit向けのつまみ */

#timer-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}


/* Moz向けのつまみ */

#timer-slider input::-moz-range-thumb {
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
}


/* Firefoxで点線が周りに表示されてしまう問題の解消 */

#timer-slider input::-moz-focus-outer {
    border: 0;
}


/* つまみをドラッグしているときのスタイル */

#timer-slider input:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}