body {
	background-color: #262626;
	text-align: center;
	color: aliceblue;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	padding-bottom: 3rem;
}

.logo {
	height: 150px;
	margin-top: 10rem;
}

#github-icon {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	margin: 1rem;
}

h2 {
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.3rem;
	margin: 40px 0px 20px;
}

a {
	color: #90ff3c;
}

hr {
	margin: 2rem 1rem;
}

.form {
	margin-top: 1rem;
}

.btn {
	margin-top: 1rem;
	background-color: #90ff3c;
	color: #262626;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:disabled {
	background-color: #6aba2d;
	color: #080808;
}

#unpublish {
	position: fixed;
	bottom: 4rem;
	z-index: 0;
	color: aliceblue;
}

#leave {
	position: fixed;
	bottom: 1rem;
	z-index: 0;
	background-color: red;
	color: aliceblue;
}

.material-icons {
	color: aliceblue;
}

/*#join-form {
	margin-top: 5rem;
}*/

.tips {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: darkgray;
	text-align: start;
}

input {
	width: 100%;
	margin-bottom: 2px;
}

.player {
	width: 480px;
	height: 320px;
}

.player-name {
	margin: 8px 0;
}

#success-alert,
#success-alert-with-token {
	display: none;
}

@media (max-width: 640px) {
	.player {
		width: 320px;
		height: 240px;
	}
}

/* integrated from styles-timer.css */
#clockdiv {
	color: aliceblue;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: #90ff3c;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: #4b8320;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
	color: #262626;
}

#stop-timer {
	background-color: red;
}

#timer-duration {
	margin-top: 2rem;
}

/* Agenda */
#agenda-group {
	position: relative;
}

#agenda-in-group {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.meeting-area > hr {
	margin: 5rem 30rem;
}
